odoo14-addon-datamodel @ git+https://github.com/akretion/rest-framework.git@14.0-mig-base_rest#subdirectory=setup/datamodel
odoo14-addon-base_rest @ git+https://github.com/akretion/rest-framework.git@14.0-mig-base_rest#subdirectory=setup/base_rest

odoo14-addon-partner_address_version @ git+https://github.com/oca/partner-contact.git@refs/pull/1021/head#subdirectory=setup/partner_address_version
odoo14-addon-sale_partner_version @ git+https://github.com/oca/sale-workflow.git@refs/pull/1348/head#subdirectory=setup/sale_partner_version

odoo14-addon-sale_exception @ git+https://github.com/OCA/sale-workflow.git@refs/pull/1389/head#subdirectory=setup/sale_exception
