odoo_test_helper
mock
httpx

odoo-addon-endpoint-route-handler @ git+https://github.com/simahawk/web-api.git@16-route-handler#subdirectory=setup/endpoint_route_handler
odoo-addon-fastapi @ git+https://github.com/acsone/rest-framework.git@16.0-fastapi#subdirectory=setup/fastapi
